appdirs==1.4.3
attrs==18.2.0
cached-property==1.5.1
cachetools==3.0.0
certifi==2018.11.29
chardet==3.0.4
defusedxml==0.5.0
google-auth==1.6.2
google-auth-oauthlib==0.2.0
googleads==15.0.2
idna==2.8
isodate==0.6.0
lxml==4.3.0
oauthlib==2.1.0
pyasn1==0.4.5
pyasn1-modules==0.2.3
pytz==2018.9
PyYAML==4.2b4
requests==2.21.0
requests-oauthlib==1.1.0
requests-toolbelt==0.8.0
rsa==4.0
six==1.12.0
suds-jurko==0.6
urllib3==1.24.1
xmltodict==0.11.0
zeep==3.2.0
